* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.header {
    width: 100%;
    background-color: #f8f8f8;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-opcoes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.menu-opcoes ul {
    list-style: none;
    display: flex;
    align-items: center;
    width: 100%;
}

.menu-opcoes li {
    margin: 0 15px;
}

.menu-opcoes li.logo {
    margin-right: auto;
}

.menu-opcoes a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: color 0.3s;
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.menu-opcoes a:hover {
    color: #007bff;
    border-color: #007bff;
}

.menu-opcoes img {
    height: 40px; /* Ajuste conforme o tamanho desejado da imagem */
}
