/* estilo.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 20px;
}

.usuario {
    order: 2; /* Coloca o usuário no final */
}

.menu-opcoes {
    order: 1; /* Mantém o menu no início */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
    margin: 0.5%;
}

/* Estilização do menu e itens */
.menu-opcoes ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu-opcoes li {
    margin-left: 20px;
}

.menu-opcoes a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Estilização do texto do usuário */
.usuario {
    font-size: 0.9rem;
    color: #666;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.div-container {
    width: 30%; /* Ajuste conforme necessário */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    background-color: #fff;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

/* Adiciona zebra striping às linhas da tabela */
tr:nth-child(even) {
    background-color: #f9f9f9;
}